QWidget {
    background-color: #ffffff;
    font-family: Arial;
    padding: 5px;
}

QLabel {
    font-size: 20px;
    font-weight: bold;
    color: #0059ff;
    padding: 5px;    
    text-align: center;
}

QRadioButton {
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px; 
}

QPushButton {
    background-color: #0059ff;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
}

QPushButton:hover {
    background-color: #0043bf;
}

QPushButton:pressed {
    background-color: #0043bf;
}

QStackedWidget {
    margin-left: 50%;
    margin-right: 50%;
}


#resultLabel {
    font-weight: bold;
    color: #A600FF;  
    margin-bottom: 20px;
    font-size: 24px;
    padding-top: 20px;
}

#descriptionLabel {
    color: #000000;
    margin-bottom: 45px;
    padding-bottom: 10px;
    font-size: 20px;
    width:100%;
}


#playAgainButton {
    background-color: #A600FF; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

#playAgainButton:hover {
    background-color: #6c02a4; 
}

#titleLabel {
    font-size: 38px;
    color: #000000;
    padding-top: 45px;
    margin-left: 50%;
    margin-right: 50%;
}

#headerLabel {
    font-size: 20px;
    color: #A600FF;
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-left: 50%;
    margin-right: 50%;
}

#startButton {
    background-color: #A600FF;
}

#startButton:hover {
    background-color: #9102de; 
}